@media only screen and (max-width:4.5in), screen and ( max-width:545px) {
   .mobileMenuContainer{
        /*position: fixed;
        top: .5rem;
        right: .5rem;*/
        position: absolute;
        top:.35rem;
        right:.35rem;
        display: block;
        z-index: 90;
   }
    .menu  {
        width: 3rem;
        height: 3rem;
        border-radius: .5rem;
        border: solid .2rem rgb(116, 116, 116);
        display: block;
        background-color: #fff;
    }

    .menu > div {
        width:80%;
        margin: .45rem auto 0;
        height: .4rem;
        background-color: #4aaaa5;
        display: block;
    }
    ul.dropDown {
        list-style: none;
        display: none;
        border: solid rgba(131, 131, 131,0);
        border-radius: .5em 0 .5em .5em;
        background-color:rgba(255, 255, 255, 0);    }

    ul.dropDown > li {
        padding: .5em 0;
        font-size: 1.5em;
        border-bottom:.1em solid #838383;
        opacity:0;
    }
    ul.dropDown > li:last-of-type {
        border:none;
    }

    ul.dropDown a {
        text-decoration: none;
        color: #777777;
    } 
    
    input[type=checkbox] {
        visibility: hidden;
    }
    
    @keyframes ulMenuFade {
        0% {background-color:rgba(255, 255, 255, 0);border: solid rgba(131, 131, 131,0);
        }
        100% {background-color:rgba(255, 255, 255, 0.75);border: solid rgba(131, 131, 131,1);
        }

   }
    
    input[type=checkbox]:checked ~ ul {
        display:block;
        position: absolute;
        top: 3.15rem;
        right: 0rem;
        padding: 0 1.5rem;
        text-align: center;
        animation-name: ulMenuFade;
        animation-duration: .25s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
   
    @keyframes listElementsFade {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    input[type=checkbox]:checked ~ ul > li {
        animation-name: listElementsFade;
        animation-duration: .25s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-delay: .12s;        
    }
  
  


    nav {
        display: none;
    }
}

