@media only screen and (max-width:4.5in) {
   .mobileMenuContainer{
        /*position: fixed;
        top: .5rem;
        right: .5rem;*/
        position: absolute;
        top:.35rem;
        right:.35rem;
        display: block;
        z-index: 90;
   }
    .menu  {
        width: 3rem;
        height: 3rem;
        border-radius: .5rem;
        border: solid .2rem rgb(116, 116, 116);
        display: block;
        background-color: #fff;
    }

    .menu > div {
        width:80%;
        margin: .45rem auto 0;
        height: .4rem;
        background-color: #4aaaa5;
        display: block;
    }
    ul.dropDown {
        list-style: none;
        display: none;
        border: solid #838383;
        border-radius: .5em 0 .5em .5em;
        opacity:0;
    }

    ul.dropDown > li {
        padding: .5em 0;
        font-size: 1.5em;
        border-bottom:.1em solid #838383;
    }
    ul.dropDown > li:last-of-type {
        border:none;
    }

    ul.dropDown a {
        text-decoration: none;
        color: #777777;
    } 
    
    input[type=checkbox] {
        visibility: hidden;
    }
    input[type=checkbox]:checked ~ ul {
        display:block;
        position: absolute;
        top: 3.15rem;
        right: 0rem;
        padding: 0 1.5rem;
        text-align: center;
        background-color: #fff;
        transition: opacity 0.5s linear;
        opacity: .9;
/*        animation-name: fade;
        animation-duration: .5s;
        animation-timing-function: linear;*/
    }
    /*@keyframes fade {
        0% {opacity: 0;}
        100% {opacity: .8;}
    }*/


    nav {
        display: none;
    }
}

